* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    width: 80%;
    margin: auto;
    min-width: 25%;
    padding-bottom: .5px;
    padding-top: .5px;
    color: #0E780E;
    text-align: center;
    height: 100%;
}

nav a {
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    display: inline;
}

.rami,
.christian,
.portia,
.carly,
.martin,
.wong,
.sam img {
    display: inline;
    background-color: white;
    float: left;
}

main {
    margin-left: 165px;
}